fluxo-jetfit.json
{
  "name": "Desafio JetSales - Bot + IA",
  "nodes": [
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}",
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -1328,
        880
      ],
      "id": "6c39ba81-7e29-4c20-8697-4540f40ce2d1",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"mensagens\": {\n      \"type\": \"array\",\n      \"items\": { \"type\": \"string\" }\n    },\n    \"imagem\": { \"type\": \"string\" },\n    \"escalar\": { \"type\": \"boolean\" },\n    \"objetivo\": { \"type\": \"string\" },\n    \"status_venda\": { \"type\": \"string\" },\n    \"carrinho\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"produto\": { \"type\": \"string\" },\n          \"quantidade\": { \"type\": \"number\" }\n        },\n        \"required\": [\"produto\", \"quantidade\"]\n      }\n    }\n  },\n  \"required\": [\n    \"mensagens\",\n    \"imagem\",\n    \"escalar\",\n    \"objetivo\",\n    \"status_venda\",\n    \"carrinho\"\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -1200,
        880
      ],
      "id": "2d9f8249-b22e-43c2-8385-e00f4a6bc77f",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "8e021f49-db2e-4c16-80b8-7a227870f776",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -4144,
        656
      ],
      "id": "4343d4aa-cace-4ff9-aab0-72b2a683639a",
      "name": "Webhook: Entrada WhatsApp",
      "webhookId": "8e021f49-db2e-4c16-80b8-7a227870f776"
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "KZm4uwdmjurC8i5I",
          "mode": "list",
          "cachedResultName": "leads_jetfit",
          "cachedResultUrl": "/projects/MRxWuxKhcs9fWCQw/datatables/KZm4uwdmjurC8i5I"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "number_id",
              "keyValue": "={{ $json.body.message.ticket.contact.number }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "last_msg_id": "={{ $json.body.message.id }}",
            "nome": "={{ $json.body.message.raw.pushName }}",
            "number_id": "={{ $json.body.message.ticket.contact.number }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "last_msg_id",
              "displayName": "last_msg_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "objetivo",
              "displayName": "objetivo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "nome",
              "displayName": "nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "number_id",
              "displayName": "number_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -3696,
        656
      ],
      "id": "8abea96e-abbb-49d5-bceb-6b325c91351c",
      "name": "Atualiza Mensagem na Table"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "KZm4uwdmjurC8i5I",
          "mode": "list",
          "cachedResultName": "leads_jetfit",
          "cachedResultUrl": "/projects/MRxWuxKhcs9fWCQw/datatables/KZm4uwdmjurC8i5I"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "number_id",
              "keyValue": "={{ $('Webhook: Entrada WhatsApp').item.json.body.message.ticket.contact.number }}"
            }
          ]
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -3248,
        656
      ],
      "id": "b54c5c15-b83a-424c-84a8-0ef5f8261931",
      "name": "Verifica Ultima Mensagem"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1nH7HI1lkgAYI5mlbXTtycmlKljflTnLzyqOxCDIQRmc",
          "mode": "list",
          "cachedResultName": "Controle Produtos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nH7HI1lkgAYI5mlbXTtycmlKljflTnLzyqOxCDIQRmc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nH7HI1lkgAYI5mlbXTtycmlKljflTnLzyqOxCDIQRmc/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -2800,
        656
      ],
      "id": "3b0f726f-e72f-4349-a06a-4acd6c9e61fe",
      "name": "Verifica Planilha Controle Produtos",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "zsvnM4423f491v4Z",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const itens = $input.all();\nlet catalogoTexto = \"CATÁLOGO ATUALIZADO EM TEMPO REAL:\\n\\n\";\n\nfor (const item of itens) {\n  const row = item.json;\n  \n  // Convertendo estoque para número para garantir a lógica\n  const estoqueAtual = parseInt(row.Estoque);\n\n  // Só adiciona ao catálogo se tiver estoque (> 0)\n  if (estoqueAtual > 0) {\n    catalogoTexto += `Produto: ${row.Produto}\\n`;\n    \n    // CORREÇÃO: Acessando a chave com cedilha \"Preço\"\n    catalogoTexto += `Preço: R$ ${row[\"Preço\"]}\\n`; \n    \n    catalogoTexto += `Descrição: ${row.Descricao}\\n`;\n    \n    // Adiciona o link da imagem se existir na planilha\n    if (row.Imagem) {\n      catalogoTexto += `URL da Imagem: ${row.Imagem}\\n`;\n    }\n    \n    // Gatilho de escassez (Alerta Interno para a IA)\n    if (estoqueAtual <= 5) {\n      catalogoTexto += `[Alerta Interno: Restam apenas ${estoqueAtual} unidades, use gatilho de urgência de forma sutil]\\n`;\n    }\n    \n    catalogoTexto += `\\n`;\n  }\n}\n\nreturn [{ json: { catalogoFormatado: catalogoTexto } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2576,
        656
      ],
      "id": "26a09d84-eed9-4061-ae66-618a5f327dc3",
      "name": "Cria Catálogo de Produtos Disponíveis"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "737d3080-33ce-46ca-ab75-890b4a999ba1",
              "leftValue": "={{ $('Webhook: Entrada WhatsApp').item.json.body.message.mediaType }}",
              "rightValue": "audio",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2352,
        656
      ],
      "id": "5b1c8f54-5f58-49cb-8023-719a069b04d3",
      "name": "Verifica Tipo de Mensagem"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3cd7bc20-58da-40db-9dcb-98a13c27e7e1",
              "name": "sessionId",
              "value": "={{ $('Webhook: Entrada WhatsApp').item.json.body.message.ticket.contact.number }}",
              "type": "string"
            },
            {
              "id": "e27a5a7a-1283-4cf8-80b5-81264bf1296e",
              "name": "userMessage",
              "value": "={{ $json.text ? $json.text : $('Webhook: Entrada WhatsApp').item.json.body.message.body }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1680,
        656
      ],
      "id": "71e01e36-b378-4a65-a1b9-44b79914d448",
      "name": "Organiza Informações Necessárias"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.userMessage }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=PERSONA: Você é o Consultor Especialista da \"JetFit Suplementos\". Foque em resultados técnicos e vendas consultivas.\n\nDADOS DO CLIENTE:\nNome do cliente: {{ $('Webhook: Entrada WhatsApp').first().json.body.message.raw.pushName }}\n\nREGRA DE SAUDAÇÃO (APENAS INÍCIO DA CONVERSA):\nSe o cliente apenas disser \"oi\", \"olá\" ou similar, inicie com muito entusiasmo: \"Olá, [Nome do Cliente]! Somos da JetFit Suplementos. Me informe o que deseja comprar ou qual seu objetivo fitness (massa ou peso) para que possamos lhe ajudar na melhor escolha!\". Se ele já fizer uma pergunta direta, vá direto ao ponto e não repita a saudação gigante.\n\n{{ $('Cria Catálogo de Produtos Disponíveis').first().json.catalogoFormatado }}\n\nESTRATÉGIA DE ATENDIMENTO E VENDAS:\n1. SONDAGEM: Se o cliente não souber o que quer, pergunte o objetivo dele ANTES de oferecer produtos.\n2. OFERTA CONSULTIVA: Recomende no máximo 2 ou 3 produtos que façam sentido.\n3. ESCASSEZ ESTRITA (OBRIGATÓRIO): Verifique o catálogo injetado acima. Se o produto escolhido possuir a tag [Alerta Interno], você TEM O DEVER ABSOLUTO de incluir um aviso de urgência logo abaixo do nome do produto (Ex: \"⚠️ Atenção: restam poucas unidades!\").\n4. MEMÓRIA: Evite repetir a URL da imagem de um produto que já foi enviado.\n\nREGRAS DE FORMATAÇÃO VISUAL E MENSAGENS (MUITO IMPORTANTE):\n1. AGRUPAMENTO: Agrupe todos os produtos oferecidos em UMA ÚNICA string dentro do array de 'mensagens', separados por quebra de linha (\\n). NUNCA divida os produtos em várias mensagens separadas.\n2. FORMATO DE APRESENTAÇÃO: Quando listar produtos, use EXATAMENTE este formato para a mensagem (incluindo a pergunta final):\n📦 Nome do Produto - R$ XX,XX\n⚠️ (Insira o alerta de escassez aqui APENAS se o produto tiver a tag no catálogo)\n📦 Outro Produto - R$ XX,XX\n\n💰 *Total estimado:* R$ XX,XX\n\n❓ Deseja continuar com a compra para separarmos o seu pedido?\n\nINSTRUÇÕES OBRIGATÓRIAS PARA O JSON:\n- 'mensagens': Fatie sua resposta em um array de 2 a 3 frases curtas. Lembre-se: a lista com as opções de produtos e a pergunta final devem ocupar apenas UMA única posição desse array.\n- 'imagem': COPIE EXATAMENTE a \"URL da Imagem\" da planilha quando for recomendar um produto. Se não for enviar produto ou se for a hora do checkout, envie \"\". NUNCA crie links de QR Code.\n- 'escalar': Responda com false. Use true APENAS se o cliente pedir um humano.\n- 'objetivo': \"Massa\", \"Peso\" ou \"Indefinido\".\n- 'status_venda': \"Nenhum\" (conversa normal), \"Aguardando\" (gerou o PIX) ou \"Pago\" (cliente confirmou o pagamento).\n- 'carrinho': Se o status for \"Pago\", liste os produtos comprados obrigatoriamente usando o NOME EXATO do catálogo e a \"quantidade\". \n\n🚨 REGRA DE RESET PÓS-VENDA (MÁXIMA PRIORIDADE): \nSe a venda já foi concluída no passado e o cliente continuar conversando (ex: dúvida, reclamação ou pedir para falar com humano / escalar=true), você DEVE OBRIGATORIAMENTE retornar o 'status_venda' para \"Nenhum\" e esvaziar o 'carrinho' para []. NUNCA repita a tag \"Pago\" ou os itens do carrinho em mensagens seguintes, senão o sistema cobrará o cliente duas vezes!\n\nMECÂNICA DE COMPRA (SIMULAÇÃO E FECHAMENTO):\n1. O GATILHO: Assim que o cliente disser \"quero comprar\", \"vou levar\", \"passa o pix\", ou confirmar a escolha do produto, INICIE O CHECKOUT IMEDIATAMENTE.\n2. O CHECKOUT: Mude o 'status_venda' para \"Aguardando\" e deixe o campo 'imagem' vazio (\"\").\n3. O RECIBO: Formate UMA das suas 'mensagens' do array exatamente como um cupom fiscal vertical:\n📦 *Resumo do Pedido:*\n• 1x Nome do Produto 1 (R$ XX,XX)\n💰 *Total a pagar:* R$ XX,XX\n\nPara concluir sua compra, copie e cole a nossa Chave PIX abaixo:\n00020126580014br.gov.bcb.pix0136suporte@jetfit.com.br\n4. A CONFIRMAÇÃO: Quando ele disser \"pagou\", \"transferi\" ou similar, mude o status para \"Pago\", preencha o array 'carrinho', agradeça e diga que vai para expedição. NUNCA repita o resumo do pedido depois de pago."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -1392,
        656
      ],
      "id": "d55446c3-e679-407e-a22e-a606761c352d",
      "name": "AI Agent de Respostas",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "50d598ab-e635-4044-9627-f4132de1ef13",
              "leftValue": "={{ $json.output.status_venda }}",
              "rightValue": "Pago",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -992,
        656
      ],
      "id": "ee01f869-72ff-4e6a-88d0-6312d6b83564",
      "name": "Verifica Pagamento"
    },
    {
      "parameters": {
        "jsCode": "// Puxamos o carrinho e as linhas da planilha\nconst output = $('AI Agent de Respostas').item.json.output;\nconst carrinho = output.carrinho || [];\nconst linhasPlanilha = $('Verifica Planilha Controle Produtos').all(); \n\nlet updates = [];\n\n// Para cada produto comprado, calculamos o novo estoque\nfor (const comprado of carrinho) {\n    \n    // Busca flexível: converte tudo para minúsculo e checa se um nome contém o outro\n    const produtoBanco = linhasPlanilha.find(p => {\n        if (!p.json.Produto) return false;\n        \n        const nomePlanilha = p.json.Produto.toLowerCase().trim();\n        const nomeComprado = comprado.produto.toLowerCase().trim();\n        \n        // Ex: \"creatina monohidratada (300g)\" contém \"creatina monohidratada\"\n        return nomePlanilha.includes(nomeComprado) || nomeComprado.includes(nomePlanilha);\n    });\n    \n    if (produtoBanco) {\n        const estoqueAtual = parseInt(produtoBanco.json.Estoque) || 0;\n        const novaQuantidade = estoqueAtual - comprado.quantidade;\n        \n        updates.push({\n            json: {\n                // IMPORTANTE: Passamos o nome EXATO que está no banco de dados\n                Produto: produtoBanco.json.Produto, \n                Quantidade_Comprada: comprado.quantidade,\n                Novo_Estoque: novaQuantidade > 0 ? novaQuantidade : 0\n            }\n        });\n    }\n}\n\nreturn updates;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -768,
        528
      ],
      "id": "570d7e9a-a307-40ea-b59b-2d7a7bcbcd78",
      "name": "Monta Carrinho Pagamento"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1nH7HI1lkgAYI5mlbXTtycmlKljflTnLzyqOxCDIQRmc",
          "mode": "list",
          "cachedResultName": "Controle Produtos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nH7HI1lkgAYI5mlbXTtycmlKljflTnLzyqOxCDIQRmc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nH7HI1lkgAYI5mlbXTtycmlKljflTnLzyqOxCDIQRmc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Produto": "={{ $json.Produto }}",
            "Estoque": "={{ $json.Novo_Estoque }}"
          },
          "matchingColumns": [
            "Produto"
          ],
          "schema": [
            {
              "id": "Produto",
              "displayName": "Produto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Preço",
              "displayName": "Preço",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Estoque",
              "displayName": "Estoque",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Descricao",
              "displayName": "Descricao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Imagem",
              "displayName": "Imagem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -544,
        528
      ],
      "id": "873853ff-550b-40f1-897f-21e1759b5307",
      "name": "Atualiza Planilha Controle Produto",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "zsvnM4423f491v4Z",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chatapi.jetsalesbrasil.com/v1/api/external/SEU_ID_AQUI/?token=SEU_TOKEN_AQUI",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "=5511999999999"
            },
            {
              "name": "body",
              "value": "==🚨 *NOVA VENDA REALIZADA!* 🚨\n\n👤 *Cliente:* {{ $('Webhook: Entrada WhatsApp').first().json.body.message.raw.pushName }}\n📱 *Contato:* {{ $('Webhook: Entrada WhatsApp').first().json.body.message.ticket.contact.number }}\n\n🛒 *Resumo do Pedido:*\n{{ $('AI Agent de Respostas').first().json.output.carrinho.map(item => `📦 ${item.quantidade}x ${item.produto}`).join('\\n') }}\n\nVerifique o estoque e inicie a separação!"
            },
            {
              "name": "externalKey",
              "value": "={{ $node[\"Webhook: Entrada WhatsApp\"].json.body.message.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -320,
        528
      ],
      "id": "ac17a781-3489-4ebb-9560-88401c044c2b",
      "name": "Informa Venda WhatsApp",
      "executeOnce": true,
      "credentials": {
        "httpBearerAuth": {
          "id": "HEivqGt0nzPCIXXb",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "equipe@jetsales.com.br",
        "subject": "=✅ Venda Confirmada: {{ $('Webhook: Entrada WhatsApp').item.json.body.message.raw.pushName }} - JetFit",
        "message": "=<h2>Nova Venda Registrada - JetFit Suplementos</h2> <p>O cliente <strong>{{ $('Webhook: Entrada WhatsApp').item.json.body.message.raw.pushName }}</strong> acaba de realizar um pagamento via bot.</p> <hr> <h3>Itens do Pedido:</h3> <ul>   {{ $('AI Agent de Respostas').item.json.output.carrinho.map(item => `<li>${item.quantidade}x ${item.produto}</li>`).join('') }} </ul> <p>O estoque no Google Sheets foi atualizado automaticamente.</p>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -96,
        528
      ],
      "id": "e5a6974c-9297-4703-864d-aeb8f3b3f5cf",
      "name": "Informa Venda E-mail",
      "webhookId": "a9ee50c1-bbc7-4ec4-890f-3c1d3bbfbcae",
      "credentials": {
        "gmailOAuth2": {
          "id": "q6aZ9AOYEOgRynTd",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const output = $('AI Agent de Respostas').first().json.output;\nconst session = $('Organiza Informações Necessárias').first().json.sessionId;\nconst msgId = $('Webhook: Entrada WhatsApp').first().json.body.message.id;\n\nconst mensagens = output.mensagens || [];\nconst imagem = output.imagem || \"\"; // Puxa a imagem do JSON da IA\nconst escalar = output.escalar || false;\nconst objetivo = output.objetivo || \"Indefinido\";\n\nlet returnItems = [];\n\nmensagens.forEach((msg, index) => {\n    returnItems.push({\n        json: {\n            texto: msg,\n            // A MÁGICA RESTAURADA: Coloca a foto só na 1ª mensagem. Se for o PIX, a IA já mandou \"\", então vai vazio.\n            imagem_atual: index === 0 ? imagem : \"\", \n            escalar_atual: escalar,\n            objetivo_atual: objetivo,\n            sessionId: session,\n            // A TRAVA DE SEGURANÇA: Chave única pra não ser bloqueado pela JetSales\n            externalKey: `${msgId}-${index}` \n        }\n    });\n});\n\nif (returnItems.length === 0) {\n    returnItems.push({\n        json: {\n            texto: \"Entendido!\",\n            imagem_atual: imagem,\n            escalar_atual: escalar,\n            objetivo_atual: objetivo,\n            sessionId: session,\n            externalKey: `${msgId}-fallback`\n        }\n    });\n}\n\nreturn returnItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        128,
        656
      ],
      "id": "618d7747-4840-47b3-913e-0cd64bfc08f7",
      "name": "Separa Frases Bot"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        352,
        656
      ],
      "id": "e9d4453a-9f41-4a0a-81cc-46a158cf4aec",
      "name": "Envia Mensagens Separadas"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        576,
        336
      ],
      "id": "2c49a48a-816d-48bc-a8b8-ef8bc95840e4",
      "name": "Tempo Entre Mensagens",
      "webhookId": "60bebb04-abe8-4169-8922-e1746f2acd02"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "0baab572-e967-4a8a-811d-b8e3fb259cf9",
              "leftValue": "={{ $json.escalar_atual }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        800,
        336
      ],
      "id": "1026455d-2b0c-4c99-8b17-a4e0788718f8",
      "name": "Verifica Escalamento"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "4d1a5d08-c6fe-4630-babb-7ff6a2eec032",
              "leftValue": "={{ $json.imagem_atual }}",
              "rightValue": "http",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1024,
        432
      ],
      "id": "810f231c-6e71-46a7-a0eb-42894ada2915",
      "name": "Verifica Imagem"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chatapi.jetsalesbrasil.com/v1/api/external/SEU_ID_AQUI/?token=SEU_TOKEN_AQUI",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.sessionId }}"
            },
            {
              "name": "body",
              "value": "={{ $json.texto }}"
            },
            {
              "name": "externalKey",
              "value": "={{ $json.externalKey }}"
            },
            {
              "name": "mediaUrl",
              "value": "={{ $json.imagem_atual }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1232,
        544
      ],
      "id": "48503a06-d1cd-472b-ac9f-565024d65edf",
      "name": "Envia Mensagem com Foto",
      "credentials": {
        "httpBearerAuth": {
          "id": "HEivqGt0nzPCIXXb",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chatapi.jetsalesbrasil.com/v1/api/external/SEU_ID_AQUI/?token=SEU_TOKEN_AQUI",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('Organiza Informações Necessárias').first().json.sessionId }}"
            },
            {
              "name": "body",
              "value": "={{ $json.texto }}"
            },
            {
              "name": "externalKey",
              "value": "={{ $('Webhook: Entrada WhatsApp').first().json.body.message.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1248,
        704
      ],
      "id": "6b0183a0-c65e-4f73-9ed4-d4dceb5a8a31",
      "name": "Envia Mensagem Sem Foto",
      "credentials": {
        "httpBearerAuth": {
          "id": "HEivqGt0nzPCIXXb",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chatapi.jetsalesbrasil.com/v1/api/external/SEU_ID_AQUI/?token=SEU_TOKEN_AQUI",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "=5511999999999"
            },
            {
              "name": "body",
              "value": "==🚨 *ESCALONAMENTO SOLICITADO* 🚨\n\nO bot identificou uma solicitação complexa e precisa de intervenção humana.\n\n👤 *Cliente:* {{ $('Webhook: Entrada WhatsApp').first().json.body.message.raw.pushName }}\n📱 *Número:* {{ $('Webhook: Entrada WhatsApp').first().json.body.message.ticket.contact.number }}\n💬 *Última mensagem:* \"{{ $('Organiza Informações Necessárias').first().json.userMessage }}\"\n\nPor favor, assuma o atendimento no painel da JetSales!"
            },
            {
              "name": "externalKey",
              "value": "={{ $node[\"Webhook: Entrada WhatsApp\"].json.body.message.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1024,
        240
      ],
      "id": "fa71deab-b5b0-4464-a668-0edca0e89c4e",
      "name": "Escalonamento Solicitado",
      "credentials": {
        "httpBearerAuth": {
          "id": "HEivqGt0nzPCIXXb",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chatapi.jetsalesbrasil.com/v1/api/external/SEU_ID_AQUI/?token=SEU_TOKEN_AQUI",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('Organiza Informações Necessárias').first().json.sessionId }}"
            },
            {
              "name": "body",
              "value": "=Entendi! Como essa é uma solicitação mais específica, estou transferindo seu atendimento para um de nossos especialistas humanos. 👨‍💻\n\nPor favor, aguarde um instante que a nossa equipe já vai assumir a conversa por aqui!"
            },
            {
              "name": "externalKey",
              "value": "={{ $('Webhook: Entrada WhatsApp').first().json.body.message.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1248,
        240
      ],
      "id": "85f6768b-f93a-41b9-8b71-fa734d6de0a4",
      "name": "Informa Escalonamento ao Cliente",
      "credentials": {
        "httpBearerAuth": {
          "id": "HEivqGt0nzPCIXXb",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c180b12b-f087-4051-8d64-e5757ed9ffda",
              "leftValue": "={{ $json.body.message.fromMe }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -3920,
        656
      ],
      "id": "3d74615e-21c0-4b64-bd8d-326533348e62",
      "name": "Evita Loop"
    },
    {
      "parameters": {
        "amount": 8
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -3472,
        656
      ],
      "id": "643f04b0-b402-446e-a1bd-690c4c1d990b",
      "name": "Aguarda Nova Mensagem",
      "webhookId": "571a6e86-0fda-4e83-8684-8f7d341b51e7"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d102e26f-3018-41ca-b6c2-ef513abdd54b",
              "leftValue": "={{ $('Webhook: Entrada WhatsApp').item.json.body.message.id }}",
              "rightValue": "={{ $json.last_msg_id }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -3024,
        656
      ],
      "id": "1d056096-617d-411a-9393-bf184d9208e4",
      "name": "Analisa Ultimas Mensagens"
    },
    {
      "parameters": {
        "content": "# 1. Ingestão & Anti-Flood (Debounce)\nRecebe o payload via API JetSales. \nPossui duas travas de segurança:\n- Ignora mensagens enviadas pelo próprio bot.\n- Aplica um Debounce de 8s, descartando a execução se o usuário enviar várias mensagens curtas seguidas (evita consumo desnecessário da IA e flood no WhatsApp).",
        "height": 336,
        "width": 1296,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -4192,
        480
      ],
      "typeVersion": 1,
      "id": "97a73fe0-1099-4875-a62b-b3f68b34ccca",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# 2. Injeção de Contexto (Inventário)\nAntes de acionar a IA, o sistema consome o Google Sheets em tempo real.\nO código (Code Node) filtra itens sem estoque e injeta \"Gatilhos de Escassez\" no prompt para produtos com menos de 5 unidades. Também prepara as variáveis de sessão para o modelo.",
        "height": 432,
        "width": 448,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2832,
        384
      ],
      "typeVersion": 1,
      "id": "9532b96b-0ded-432b-bb41-468827528096",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "# 4. Orquestração Cognitiva \nNúcleo inteligente do fluxo com temperatura 0 (focado em precisão).\n- Memória: Mantém o contexto de 15 interações.\n- Output Parser: Força o LLM a cuspir um JSON estrito contendo: status da venda, array de produtos comprados (carrinho) e a flag de escalonamento humano.",
        "height": 608,
        "width": 464,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1504,
        416
      ],
      "typeVersion": 1,
      "id": "c3f95bc6-faed-4f17-a391-3af1dcdd0b33",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "# 5. Transação & Baixa de Estoque\nCaminho crítico se `status_venda == Pago`.\nUtiliza busca flexível (Fuzzy Match) cruzando o array do carrinho com o banco de dados. \nCalcula o saldo, dá baixa automática no Google Sheets e dispara alertas assíncronos (Omnichannel) para o gerente da loja iniciar a separação.",
        "height": 464,
        "width": 1024,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1008,
        352
      ],
      "typeVersion": 1,
      "id": "80e6d855-5438-425d-879c-bea70ccd8c08",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "# 6. UX Delivery & Handoff Humano\nResponsável pela naturalidade do robô na tela do cliente.\n- Desempacota as mensagens da IA e usa um Loop com Wait (2s) para simular digitação humana.\n- Roteia imagens apenas na primeira iteração.\n- Se `escalar == true`, trava o loop, avisa a equipe de suporte via WhatsApp e avisa o cliente sobre a transferência.",
        "height": 736,
        "width": 1408,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        32,
        160
      ],
      "typeVersion": 1,
      "id": "773eee3e-6afc-429d-ac2e-d63b4cbabbff",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "url": "={{ $('Webhook: Entrada WhatsApp').item.json.body.message.mediaUrl }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "93fe5534-e0ff-4533-af28-e52e3f09a595",
      "name": "Download Áudio WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -2128,
        528
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/audio/transcriptions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "whisper-large-v3"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1904,
        528
      ],
      "id": "a0b4b211-1047-471b-97ba-78c5bb93fc57",
      "name": "HTTP Request",
      "credentials": {
        "httpBearerAuth": {
          "id": "YbiJMOdmJMZwNGgQ",
          "name": "Chave API Groq Whisper"
        }
      }
    },
    {
      "parameters": {
        "content": "#  3.🎙️ Processamento de Voz (Voice-to-Text)\nMiddleware de acessibilidade ativado quando o payload contém \"mediaType: audio\".\n\n1. Download Binário: Captura o arquivo .ogg da URL da JetSales e salva na RAM.\n2. Whisper API (Groq): Realiza um POST multipart/form-data para transcrever o áudio em milissegundos.\n3. Injeção de Contexto: O texto transcrito volta para o fluxo principal no nó \"Organiza Informações\" usando um operador ternário, permitindo que a IA processe o áudio como se fosse texto nativo.",
        "height": 592,
        "width": 640,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2368,
        224
      ],
      "typeVersion": 1,
      "id": "3b36cdb1-4ae5-4b0b-bdfe-3b8231b91384",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chatapi.jetsalesbrasil.com/v1/api/external/SEU_ID_AQUI/?token=SEU_TOKEN_AQUI",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "=5511999999999"
            },
            {
              "name": "body",
              "value": "=🚨 *ESCALONAMENTO SOLICITADO* 🚨\n\nHouve um erro no Bot, iremos informar a equipe de suporte.\n\n👤 *Cliente:* {{ $('Webhook: Entrada WhatsApp').item.json.body.message.raw.pushName }}\n📱 *Número:* {{ $('Webhook: Entrada WhatsApp').item.json.body.message.ticket.contact.number }}\n💬 *Última mensagem:* \"{{ $('Organiza Informações Necessárias').first().json.userMessage }}\"\n\nPor favor, assuma o atendimento enquanto corrigimos o problema."
            },
            {
              "name": "externalKey",
              "value": "={{ $node[\"Webhook: Entrada WhatsApp\"].json.body.message.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -960,
        944
      ],
      "id": "cccd0738-f6dc-4eb2-8825-9c1125d7e8a4",
      "name": "Escalonamento Solicitado por Erro",
      "credentials": {
        "httpBearerAuth": {
          "id": "HEivqGt0nzPCIXXb",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chatapi.jetsalesbrasil.com/v1/api/external/SEU_ID_AQUI/?token=SEU_TOKEN_AQUI",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('Webhook: Entrada WhatsApp').item.json.body.message.ticket.contact.number }}"
            },
            {
              "name": "body",
              "value": "=Estamos passando por uma pequena instabilidade. 👨‍💻\n\nPor favor, aguarde um instante que a nossa equipe já vai assumir a conversa por aqui!"
            },
            {
              "name": "externalKey",
              "value": "={{ $node[\"Webhook: Entrada WhatsApp\"].json.body.message.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -752,
        944
      ],
      "id": "27fb1abe-a898-4bb0-bdfd-5b2359d5a384",
      "name": "Informa Erro e Escalonamento ao Cliente",
      "credentials": {
        "httpBearerAuth": {
          "id": "HEivqGt0nzPCIXXb",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "content": "##  Mitigação de erro\nCaso o bot apresente algum erro, o atendimento é escalado e um aviso é enviado para a equipe de suporte",
        "height": 288,
        "width": 576,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1008,
        832
      ],
      "typeVersion": 1,
      "id": "fa34e7a4-3034-4f84-9509-0015d7c0f51a",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "sendTo": "equipe@jetsales.com.br",
        "subject": "=⚠️ ALERTA: Erro Crítico no Fluxo JetFit ({{ $now.format('HH:mm:ss') }})",
        "message": "==<h2>🚨 Falha Detectada no Chatbot JetFit</h2>\n<p>Ocorreu um erro inesperado que interrompeu a execução do fluxo.</p>\n<hr>\n<p><strong>Detalhes do Incidente:</strong></p>\n<ul>\n  <li><strong>Horário:</strong> {{ $now.format('DD/MM/YYYY - HH:mm:ss') }}</li>\n  <li><strong>ID da Execução:</strong> {{ $executionId }}</li>\n</ul>\n<p><strong>Ação Recomendada:</strong> Verifique os logs do n8n imediatamente para identificar se houve falha de API ou timeout.</p>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -560,
        944
      ],
      "id": "01705947-b342-4183-af30-6ad4cf724408",
      "name": "Informa Erro ao Suporte",
      "webhookId": "a9ee50c1-bbc7-4ec4-890f-3c1d3bbfbcae",
      "credentials": {
        "gmailOAuth2": {
          "id": "q6aZ9AOYEOgRynTd",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -1456,
        880
      ],
      "id": "4dafbf38-668d-40bc-b780-a009120c1826",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "J4lLlqAiXUlturMU",
          "name": "Groq account Apresentacao"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent de Respostas",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent de Respostas",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Webhook: Entrada WhatsApp": {
      "main": [
        [
          {
            "node": "Evita Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualiza Mensagem na Table": {
      "main": [
        [
          {
            "node": "Aguarda Nova Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verifica Ultima Mensagem": {
      "main": [
        [
          {
            "node": "Analisa Ultimas Mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verifica Planilha Controle Produtos": {
      "main": [
        [
          {
            "node": "Cria Catálogo de Produtos Disponíveis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cria Catálogo de Produtos Disponíveis": {
      "main": [
        [
          {
            "node": "Verifica Tipo de Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verifica Tipo de Mensagem": {
      "main": [
        [
          {
            "node": "Download Áudio WhatsApp",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Organiza Informações Necessárias",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Organiza Informações Necessárias": {
      "main": [
        [
          {
            "node": "AI Agent de Respostas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent de Respostas": {
      "main": [
        [
          {
            "node": "Verifica Pagamento",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Escalonamento Solicitado por Erro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verifica Pagamento": {
      "main": [
        [
          {
            "node": "Monta Carrinho Pagamento",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Separa Frases Bot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Monta Carrinho Pagamento": {
      "main": [
        [
          {
            "node": "Atualiza Planilha Controle Produto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualiza Planilha Controle Produto": {
      "main": [
        [
          {
            "node": "Informa Venda WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Informa Venda WhatsApp": {
      "main": [
        [
          {
            "node": "Informa Venda E-mail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Informa Venda E-mail": {
      "main": [
        [
          {
            "node": "Separa Frases Bot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Separa Frases Bot": {
      "main": [
        [
          {
            "node": "Envia Mensagens Separadas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envia Mensagens Separadas": {
      "main": [
        [],
        [
          {
            "node": "Tempo Entre Mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tempo Entre Mensagens": {
      "main": [
        [
          {
            "node": "Verifica Escalamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verifica Escalamento": {
      "main": [
        [
          {
            "node": "Escalonamento Solicitado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Verifica Imagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verifica Imagem": {
      "main": [
        [
          {
            "node": "Envia Mensagem com Foto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Envia Mensagem Sem Foto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envia Mensagem com Foto": {
      "main": [
        [
          {
            "node": "Envia Mensagens Separadas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envia Mensagem Sem Foto": {
      "main": [
        [
          {
            "node": "Envia Mensagens Separadas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Escalonamento Solicitado": {
      "main": [
        [
          {
            "node": "Informa Escalonamento ao Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evita Loop": {
      "main": [
        [
          {
            "node": "Atualiza Mensagem na Table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aguarda Nova Mensagem": {
      "main": [
        [
          {
            "node": "Verifica Ultima Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analisa Ultimas Mensagens": {
      "main": [
        [
          {
            "node": "Verifica Planilha Controle Produtos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Áudio WhatsApp": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Organiza Informações Necessárias",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Escalonamento Solicitado por Erro": {
      "main": [
        [
          {
            "node": "Informa Erro e Escalonamento ao Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Informa Erro e Escalonamento ao Cliente": {
      "main": [
        [
          {
            "node": "Informa Erro ao Suporte",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent de Respostas",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "2345b942-f05a-437a-b992-77c13f53567c",
  "meta": {
    "instanceId": "bff485ba515f1cc76372fa0fb4b5c5867158f7145a72c2677a570cd0c1c12176"
  },
  "id": "6TCWNT7gLzsj1vmB",
  "tags": []
}